<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>47305108483-99s5dami12gibaccp2rj0q8krqgck9m7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47305108483-99s5dami12gibaccp2rj0q8krqgck9m7</string>
	<key>API_KEY</key>
	<string>AIzaSyBH4VUVPGgRTstA2JiRzY7SSbMcQBvF9q4</string>
	<key>GCM_SENDER_ID</key>
	<string>47305108483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cs196.scan2plan</string>
	<key>PROJECT_ID</key>
	<string>scan-2-plan</string>
	<key>STORAGE_BUCKET</key>
	<string>scan-2-plan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47305108483:ios:f74fe06d4f72ee16</string>
	<key>DATABASE_URL</key>
	<string>https://scan-2-plan.firebaseio.com</string>
</dict>
</plist>