<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>497207606992-76pse12ue0p6ukd1gn8d701bn85028s1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497207606992-76pse12ue0p6ukd1gn8d701bn85028s1</string>
	<key>API_KEY</key>
	<string>AIzaSyA9rhFtJJlVG4Gh0D1vVOnUZ6io550nQ1w</string>
	<key>GCM_SENDER_ID</key>
	<string>497207606992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.scan2plan</string>
	<key>PROJECT_ID</key>
	<string>scan2plan</string>
	<key>STORAGE_BUCKET</key>
	<string>scan2plan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497207606992:ios:3c5412c7ad961bf6</string>
	<key>DATABASE_URL</key>
	<string>https://scan2plan.firebaseio.com</string>
</dict>
</plist>